.footer {
    min-height: 630px;
    position: relative;

    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #C70101;
        width: 460px;
        height: 270px;
        padding: 50px 68px 60px 68px;
    }
    &__addr {
        margin-bottom: 36px;
        color: #FFF;
        text-align: center;  
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
        span {
            font-family: MuseoModerno;
        }
    }
    &__phone {
        display: block;
        color: #FFF;
        text-align: center;
        font-family: MuseoModerno;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        text-decoration: none;
        text-align: center;
        &:hover {
            color: #fff;
        }
    }
    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 37px;
        gap: 27px;
    }
    &__social-item {
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        img {
            height: 27px;
        }
    }

}