.promo {
    min-height: 650px;
    padding: 21px 0px 93px;
    background: url('../../images/bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        color: #FFF;
        text-align: right;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px; /* 100% */
        text-transform: uppercase;
    }
    &__subheader {
        color: #FFF;
        text-align: right;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 100% */
        text-transform: uppercase;
        margin-top: 17px;
    }
    &__icons {
        margin-top: 67px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    &__icon {
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 14px; 
        text-align: center;
    }
    span {
        display: block;
        margin-top: 20px;
        line-height: normal;
    }
    &__link {
        color: #FFF;
        text-align: right;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 10px;
    }
    a {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration-line: none;
    }
   
}
.advantages {
    min-height: 473px;
    background-color: #F6F6F6;
    padding: 73px 0px 65px 0px;
    h1 {
        color: #0D0D0D;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 100% */
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 65px;
    }
    &__items {
        text-align: center;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        .cup {
            margin-top: 20px;
            &__title {
                margin-top: 25px;
            }
        } 
        
    }
    &__title {
        margin-top: 30px;
        color: #0D0D0D;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &__descr {
        margin-top: 20px;
        width: 275px;
        color: #0D0D0D;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 18px; /* 128.571% */
        span {
            color: #F00;
            font-family: MuseoModerno;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 18px;
            text-decoration-line: underline;
        }
    }
}