@import 'base/animations';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 950px;
    margin: 0 auto;
    position: relative;
   
}

@import 'blocks/consultation';
@import 'blocks/titles';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalogs';
@import 'blocks/feedback';
@import 'blocks/footer';
@import 'blocks/modals';
@import 'blocks/pageup';
