* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  position: relative;
}

.consultation {
  min-height: 680px;
  padding: 100px 0 108px 0;
  background: url("../images/bg2.png"), center center/cover no-repeat;
}
.consultation__descr {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}

h1.title {
  color: #FFF;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 150% */
  text-transform: uppercase;
}

.form-feed {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}
.form-feed input {
  width: 100%;
  height: 54px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  color: #4B4B4B;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.form-feed input:nth-child(3) {
  margin-bottom: 20px;
}
.form-feed__mt25 {
  margin-top: 25px;
}

#consultation-form .error {
  text-align: center;
  border: 2px solid red;
}
#consultation-form label.error {
  color: #fff;
  border: none;
  margin-bottom: 18px;
}

.carousel {
  padding: 81px 0px;
  min-height: 750px;
}
.carousel__inner {
  width: 947px;
  height: 580px;
  margin: 0 auto;
  position: relative;
}
.carousel__inner img {
  display: block;
  margin: 0 auto;
}
.carousel .slick-prev, .carousel .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: -66px;
  border: none;
  background-color: #fff;
}
.carousel .slick-prev img, .carousel .slick-next img {
  width: 31px;
  height: 50px;
}
.carousel .slick-next {
  left: auto;
  right: -66px;
}

.catalog {
  padding: 73px;
}
.catalog__tabs {
  margin-top: 46px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.catalog__tab {
  width: 223px;
  height: 52px;
  border: 2px solid #D0D0D0;
  color: #6B6B6B;
  text-align: center;
  font-size: 18px;
  line-height: 48px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}
.catalog__tab:hover {
  -webkit-box-shadow: 1px 1px 15px #9c9c9c;
          box-shadow: 1px 1px 15px #9c9c9c;
}
.catalog__tab div {
  -webkit-transform: skewX(25deg);
          transform: skewX(25deg);
}
.catalog__tab_active {
  color: #FFF;
  border: none;
  background-color: #C70101;
}
.catalog__tab_active:hover {
  -webkit-box-shadow: 2px 2px 15px #C70101;
          box-shadow: 2px 2px 15px #C70101;
}
.catalog__content {
  margin-top: 60px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog-item {
  width: 303px;
  min-height: 442px;
  border: 2px solid #E8E8E8;
  padding: 20px 18px 21px 23px;
  overflow: hidden;
  margin-bottom: 20px;
}
.catalog-item__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 200px;
}
.catalog-item__subtitle {
  color: #0D0D0D;
  text-align: center;
  font-family: MuseoModerno;
  font-size: 16px;
  font-weight: 700;
  margin-top: 15px;
}
.catalog-item__descr {
  color: #0D0D0D;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-top: 15px;
}
.catalog-item__link {
  display: block;
  color: #C70101;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px; /* 100% */
  text-align: center;
  margin-top: 10px;
}
.catalog-item__back {
  position: absolute;
  right: 52%;
  bottom: 0;
  display: block;
  color: #C70101;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px; /* 100% */
  text-align: center;
  margin-top: 10px;
}
.catalog-item hr {
  margin-top: 17px;
  background-color: #E8E8E8;
  margin-bottom: 21px;
  border-bottom: 0;
}
.catalog-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog-item__old-price {
  color: #555;
  font-family: MuseoModerno;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px; /* 100% */
  text-decoration: line-through;
}
.catalog-item__price {
  color: #050505;
  font-family: MuseoModerno;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 100% */
}
.catalog-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 40px);
}
.catalog-item__content {
  position: relative;
  width: 50%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  margin-right: 20px;
}
.catalog-item__content_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.catalog-item__list {
  position: relative;
  width: 50%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  padding-right: 20px;
  margin-left: 20px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.catalog-item__list_active {
  position: relative;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-left: 0px;
}
.catalog-item__list li {
  position: relative;
  color: #555;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  margin-bottom: 20px;
}
.catalog-item__list li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 7px;
  background-color: #C70101;
  left: -17px;
  top: 7px;
}
.catalog h1.title {
  color: #0D0D0D;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px; /* 150% */
  text-transform: uppercase;
}

.feedbacks {
  padding-bottom: 50px;
}
.feedbacks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
  margin-top: 60px;
}
.feedbacks__item span {
  display: block;
  color: #646464;
  font-family: MuseoModerno;
  font-size: 14px;
  font-weight: 500;
}
.feedbacks__subtitle {
  color: #0D0D0D;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 10px;
  width: 650px;
}
.feedbacks__subtitle span {
  display: inline-block;
}
.feedbacks__title {
  color: #0D0D0D;
  font-size: 18px;
  font-weight: 700;
}
.feedbacks h1 {
  color: #0D0D0D;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer {
  min-height: 630px;
  position: relative;
}
.footer__info {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #C70101;
  width: 460px;
  height: 270px;
  padding: 50px 68px 60px 68px;
}
.footer__addr {
  margin-bottom: 36px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}
.footer__addr span {
  font-family: MuseoModerno;
}
.footer__phone {
  display: block;
  color: #FFF;
  text-align: center;
  font-family: MuseoModerno;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
}
.footer__phone:hover {
  color: #fff;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 37px;
  gap: 27px;
}
.footer__social-item {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
}
.footer__social-item img {
  height: 27px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  top: 0;
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 380px;
  min-height: 400px;
  background-color: #f2f2f2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 38px 40px 40px;
}
.modal__close {
  position: absolute;
  right: -41px;
  line-height: 21px;
  top: 0px;
  font-size: 40px;
  color: #C70101;
  line-height: 21px;
  cursor: pointer;
}
.modal__subtitle {
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.modal__descr {
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.modal_mini {
  min-height: 140px;
}
.modal .error {
  text-align: center;
  border: 2px solid red;
}
.modal label.error {
  border: none;
  margin-bottom: 18px;
}

#consultation, #order, #thanks {
  display: none;
}/*# sourceMappingURL=style.css.map */